$primaryColor:#ff385c;
$linesColor:#e6e3e3;
$greyFont:#949494;
$logoFont:'Mulish', sans-serif;
$main-font: 0.91rem;



.place-info__container { 
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.place-info {
    max-width: 80vw;  
    padding: 0 80px;  
    width: 1280px;
}


.place-info__header {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.place-info__name {
    margin: 0;
}

.place-info__list, .place-details__list{
    display: flex;
    li {
        display: flex;
        margin-right: 5px;
        span {
            display: flex;
            align-items: center;
        }
    }
}

.info-list__item:not(:last-child):after,
.details-list__item:not(:last-child):after
 {
    content: "·";
    margin-left: 5px;
} 

.place-info__btns {
    align-self: flex-end;
    display: flex;
    align-items: center;
    button {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        font-size: medium;
        font-weight: 400;
        text-decoration: underline;
        padding: 8px;
        border-radius: 8px;
        &:hover {
            cursor: pointer;
            background-color: #fcf8f7;
        }
    }
    .header-btn__share {
        margin-right: 20px;
    }
    .header-btn__icon {
        margin-right: 4px;
    }
}

.place-collage {
    padding-top: 24px;
}

.collage-container {
    display: grid;
    max-height: 500px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
    overflow: hidden;
    border-radius: 15px;
}

.photo-wrapper__button {
    border: none;
    transition: .3s ease-in-out;
    &:hover { 
        background-color: black;
    }
}

.collageSinglePhoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease-in-out;
    &:hover { 
        cursor: pointer;
        opacity: 0.85;
    }
}

.photo-wrapper__button:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.place-details__ruler {
    width: 100%;
    border: 0;
    border-bottom: 0.1rem solid $linesColor;
    position: absolute;
    bottom: 0;
}

.place-details__container {
    width: 55%;
    h2 {
        margin: 0
    }
}

.place-details_header-container {
    width: 100%;
    padding: 32px 0 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.place-details__photo--container {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
    .place-details__photo { 
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.place-details__facilities {
    position: relative;
}

.facilities-list {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    gap: 24px;
}

.facilities-list__item{
    display: flex;
    line-height: normal;
    align-items: center;
    gap: 24px;
}

.facilities-item__description {
    padding: 0;
    font-size: 1em;
    h3 {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
}

.facilities-item__icon {
    font-size: 24px;
}

.isolated-section {
    position: relative;
    padding: 32px 0;
}

.translate-info {  
    display: block;
    border-radius: 8px;
    padding: 16px;
    background-color: $linesColor;
}

.description-text {
    padding-top: 32px;
    margin-bottom: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.interaction-text {
    cursor: pointer;
    font-weight: 600;
    text-decoration: underline;
    display: inline;
    text-align: center;
    svg {
        vertical-align: middle;
    }
}

.bedrooms-seciton__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}