$primaryColor:#ff385c;
$linesColor:#e6e3e3;
$greyFont:#949494;
$logoFont:'Mulish', sans-serif;
$main-font: 0.91rem;


.main-content__container{
    overflow:auto;
    height:100%;
    margin: 16px 0 40px 0;
    display: grid;
    gap: 0 2rem;
    grid-template-columns: repeat(6, 1fr);
    padding: 0 80px;
}

.card-container {
    padding: 8px 0 32px 0;
    width: 100%;
    &:hover {
        cursor: pointer;
    }
}

.image-container {
    border-radius: 15px;
    margin-bottom: 12px;
    display: flex;
    height: 270px;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.image-Link {
    display: flex;
}

.hotel-image {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    display: flex;
    transition: ease-in-out 0.3s;
    z-index: 1;
}

.hotel-controls {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 12px 12px 0 12px;
    position: absolute;
}

.controls__btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 20%;
}

.set-image__btn{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: none;
    font-size: 19px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.9);
    z-index: 1;
    &:hover {
        background-color: rgba(255,255,255)
    }
}

.next {
    margin-left: auto;
}

.previous {
    margin-right: auto;
}


.heart-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    color: red;
    fill: white;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 1;
}

.heart-icon {
    width: 24px;
    height: 24px;
    fill: white;
}


.photo-slider {
    position: absolute;
    display: flex;
    height:18px;
    width: 55px;
    bottom: 0;
    z-index: 1;
}

.slider-container {
    width: 100%;
    height: 6px;
    display: flex;
    justify-content: space-between;
}

.slider-el {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(248, 248, 248, 0.6);
}

.last {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    align-self: center;
}

.slider-el__active {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
}

.info-container {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    font-size: 15px;
    &:span { 
        font-family: 'Times New Roman', Times, serif;
    }
}

.info-place-name, .place-rate, .place-price span {
    font-weight: 600;
}

.place-rate {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.place-owner_info, .place-date_info {
    color: $greyFont;
}

.info-place-name .place-owner_info, .place-date_info, .place-price {
    grid-column: 1;
}